.form-group
  .col-md-12.bot-margin
    .col-sm-12
      %label.control-label#exp-label.lab Describe the extent of your petcare experience
    .col-sm-12.radios
      %label.radio-inline
        = radio_button_tag(:experience, "under 1 year", @ts ? @ts.experience.eql?("under 1 year") ? "checked: true" : false  : false)
        under 1 year
      %label.radio-inline
        = radio_button_tag(:experience, "1 - 2 years", @ts ? @ts.experience.eql?("1 - 2 years") ? "checked: true" : false : false)
        1 - 2 years
      %label.radio-inline
        = radio_button_tag(:experience, "3 - 4 years", @ts ? @ts.experience.eql?("3 - 4 years") ? "checked: true" : false : false)
        3 - 4 years
      %label.radio-inline
        = radio_button_tag(:experience, "5+ years", @ts ? @ts.experience.eql?("5+ years") ? "checked: true" : false : false)
        5+ years
    .col-sm-12.checkboxes
      %label.control-label#pet-label.lab What animals are you interested in watching?
    .col-sm-12
      %label.checkbox-inline
        = check_box_tag(:pet, "Dogs", @ts ? @ts.pets.include?("Dogs") ? "checked: true" : false : false, id: "dogs")
        Dogs
      %label.checkbox-inline
        = check_box_tag(:pet, "Cats", @ts ? @ts.pets.include?("Cats") ? "checked: true" : false :  false, id: "cats")
        Cats
      %label.checkbox-inline
        = check_box_tag(:pet, "Fish", @ts ? @ts.pets.include?("Fish") ? "checked: true" : false : false, id: "fish")
        Fish
      %label.checkbox-inline
        = check_box_tag(:pet, "Reptiles", @ts ? @ts.pets.include?("Reptiles") ? "checked: true" : false : false, id: "reptiles")
        Reptiles
      %label.checkbox-inline
        = check_box_tag(:pet, "Birds", @ts ? @ts.pets.include?("Birds") ? "checked: true" : false : false, id: "birds")
        Birds
      %label.checkbox-inline
        = check_box_tag(:pet, "Small Mammals", @ts ? @ts.pets.include?("Small Mammals") ? "checked: true" : false : false, id: "mams")
        Small Mammals
      %label.checkbox-inline
        = check_box_tag(:pet, "Exotic/Other", @ts ? @ts.pets.include?("Exotic/Other") ? "checked: true" : false : false, id: "exo")
        Exotic/Other
    .col-sm-12.misc
      %label.control-label#misc-label.lab Share anything else you want about your experience
      %p#char-count 0/300 characters
      .col-sm-8.col-sm-offset-2
        = text_area_tag(:misc, @ts ? @ts.misc : "", class: "form-control", maxlength: 300)
