.container
  .row
    .col-md-8.col-md-offset-2.text-center
      %h1.title Petcare Survey
      %hr
      %p#header-error.text-danger Please fix the required fields
      .col-md-12
        = form_tag(petcare_survey_path, method: :post, id: "pcs_form") do
          = text_field_tag(:num_certs, "1", hidden: true)
          = text_field_tag(:pets, "", hidden: true, id: "pets-hidden")
          = render partial: "partials/petcare_surveys/basic_form"
          -# %h4
          -#   Certifications
          -#   %small Add up to 3
          -# %hr
          -#   #exist.hide= !@ts.nil?
          -#   - if !@ts.nil?
          -#     = render partial: "partials/childcare_surveys/existing_certs", locals: { button: true, obj: @ts }
          -#   = render partial: "partials/childcare_surveys/add_certs", locals: { button: !@ts.nil? }
          .col-md-6.col-md-offset-3.bot-margin
            = submit_tag "Finish", class: "btn btn-primary btn-block"
