.form-group
  .col-md-12.bot-margin
    .col-sm-12
      %label.control-label#exp-label.lab Describe the extent of your childcare experience
    .col-sm-12.radios
      %label.radio-inline
        = radio_button_tag(:experience, "under 1 year", checked: @ccs ? @ccs.experience.eql?("under 1 year") : false)
        under 1 year
      %label.radio-inline
        = radio_button_tag(:experience, "1 - 2 years", checked: @ccs ? @ccs.experience.eql?("1 - 2 years") : false)
        1 - 2 years
      %label.radio-inline
        = radio_button_tag(:experience, "3 - 4 years", checked: @ccs ? @ccs.experience.eql?("3 - 4 years") : false)
        3 - 4 years
      %label.radio-inline
        = radio_button_tag(:experience, "5+ years", checked: @ccs ? @ccs.experience.eql?("5+ years") : false)
        5+ years
    .col-sm-12.misc
      %label.control-label#misc-label.lab Share anything else you want about your experience
      %p#char-count 0/300 characters
      .col-sm-8.col-sm-offset-2
        = text_area_tag(:misc, @ccs ? @ccs.misc : "", class: "form-control", maxlength: 300)
