= stylesheet_link_tag "devise"
= javascript_include_tag "devise"
.container
  .row-fluid
    .col-md-12
      .text-center
        %h1.signup Join DoJob
    .col-md-12
      .text-center
        = image_tag "sign_up_left_number.png", id: "progress"
    .col-md-6.col-xs-offset-3.text-center
      %h3#formlabel Account Information
      %hr
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-horizontal" }) do |f|
        = devise_error_messages!
        #stage1
          .form-group
            .col-sm-2
              = f.label :email, class: "control-label"
            .col-sm-10
              = f.email_field :email, autofocus: true, class: "form-control"

          .form-group
            .col-sm-2
              = f.label :password, class: "control-label"
            .col-sm-10
              = f.password_field :password, autocomplete: "off", class: "form-control"
              %p.text-muted.leftp
                (
                = @minimum_password_length
                characters minimum)

          .form-group
            .col-sm-8.col-sm-offset-2
              %button.btn.btn-primary.btn-lg.btn-block#advance Next

        #stage2
          %p.bg-warning This information will not be shared until a job has been arranged.
          .form-group
            .col-sm-2
              = f.label :first_name, class: "control-label"
            .col-sm-10
              = f.text_field :first_name, autofocus: true, class: "form-control"

          .form-group
            .col-sm-2
              = f.label :last_name, class: "control-label"
            .col-sm-10
              = f.text_field :last_name, autocomplete: "off", class: "form-control"

          .form-group
            .col-sm-2
              = f.label :address, class: "control-label"
            .col-sm-10
              = f.text_field :address, autofocus: true, class: "form-control"

          .form-group
            .col-sm-2
              = f.label :city, class: "control-label"
            .col-sm-10
              = f.text_field :city, autocomplete: "off", class: "form-control"

          .form-group
            .col-sm-2
              = f.label :state, class: "control-label"
            .col-sm-2.leftp
              = f.select(:state, ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DE", "FL", "GA", "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"])
            .col-sm-2
              = f.label :zip, class: "control-label"
            .col-sm-6
              = f.text_field :zip, autocomplete: "off", class: "form-control"

          .form-group
            .col-sm-4.col-sm-offset-2
              %a.btn.btn-warning.btn-lg.btn-block#rewind Go Back
            .col-sm-4
              %button.btn.btn-primary.btn-lg.btn-block#finish Finish!
