.modal.fade#offerModal{ role: "dialog", aria: {labelledby: "offerModalLabel", hidden: true } }
  .modal-dialog
    .modal-content
      .modal-header.text-center
        %button.close{ data: { dismiss: "modal" } }
          %span{aria: { hidden: true} } &times;
          %span.sr-only Close
        %h4.modal-title#offerModalLabel Make an Offer!
      .modal-body
        = form_tag(create_offer_job_path(@job), remote: true, id: "offer-form") do
          .col-md-8.col-md-offset-2.text-center#offer-body-section
            = text_field_tag(:username, current_user.my_name, hidden: true)
            = label_tag(:body, "Why do you want this job?", class: "control-label")
            %p#char-count 0/1000
            = text_area_tag(:body, "", class: "form-control", id: "offer-body", rows: 3)
          .col-md-8.col-md-offset-2.text-center#offer-buttons
            %button.btn.btn-default{ data: { dismiss: "modal" } } Cancel
            = submit_tag "Submit", class: "btn btn-primary", id: "create_offer"
      .modal-footer.text-center#offer-bot
        %p.text-muted.text-center#bot-text Feel free to explain why you want to do this job. You can also explain some of your credentials and tell the poster a littler bit about yourself!
