.nav-login-here
  %p.nav-vert.navbar-right.navbar-text
    Already have an account?
    %a#nav-login-link Login
.nav-form-hidden
  = form_for(resource, as: resource_name, url: session_path(resource), html: { class: "navbar-form navbar-right"} ) do |f|
    .form-group
      = f.label "Email Address", class: "control-label"
      = f.email_field :email, placeholder: "Enter email here", class: "form-control"
    .form-group
      = f.label "Password", class: "control-label"
      = f.password_field :password, autocomplete: "off", class: "form-control"
    = f.submit "Log In", class: "btn btn-primary"
