.col-md-12.text-center
  %h1
    = "#{params[:user]}'s Skill"
    %small Childcare
  %hr
.col-md-6.text-center.col-md-offset-3
  - if @ts
    %table.table.table-striped
      %thead
        %tr
          %h3 Survey Details
      %tbody
        %tr
          %td
            %strong Years of Experience
          %td= @ts.experience
        %tr
          %td
            %strong Desired Animals
          %td= format_pets(@ts.pets)

    %h3 Other Information
    %hr
    %h5= @ts.misc
  - else
    %p.bg-danger#not-taken
      You have not taken our petcare survey
    %a.btn.btn-primary{href: "#{new_petcare_survey_path}"} Take the survey now!
