.form-group
  .col-md-12.bot-margin
    .col-sm-12.checkboxes
      %label.control-label#skill-label.lab What handyman experience do you have?
    .col-sm-12.text-left.handyman-row
      .col-sm-3.col-sm-offset-3
        %label.checkbox-inline
          = check_box_tag(:plumbing, "Plumbing", @hs ? !@hs.plumbing.nil? ? "checked:true" : false : false, id: "plumbing")
          Plumbing
      .col-sm-3.text-right
        = select_tag(:plumbing_expertise, options_for_select([['Novice', 'Novice'], ['Apprentice', 'Apprentice'], ['Expert', 'Expert'] ]  ), id: "plumbing-select")
    .col-sm-12.text-left.handyman-row
      .col-sm-3.col-sm-offset-3
        %label.checkbox-inline
          = check_box_tag(:electrical, "Electrical", @hs ? !@hs.electrical.nil? ? "checked:true" : false : false, id: "electrical")
          Electrical
      .col-sm-3.text-right
        = select_tag(:electrical_expertise, options_for_select([['Novice', 'Novice'], ['Apprentice', 'Apprentice'], ['Expert', 'Expert'] ]  ), id: "electrical-select")
    .col-sm-12.text-left.handyman-row
      .col-sm-3.col-sm-offset-3
        %label.checkbox-inline
          = check_box_tag(:carpentry, "Carpentry", @hs ? !@hs.carpentry.nil? ? "checked:true" : false : false, id: "carpentry")
          Carpentry
      .col-sm-3.text-right
        = select_tag(:carpentry_expertise, options_for_select([['Novice', 'Novice'], ['Apprentice', 'Apprentice'], ['Expert', 'Expert'] ]  ), id: "carpentry-select")
    .col-sm-12.text-left.handyman-row
      .col-sm-3.col-sm-offset-3
        %label.checkbox-inline
          = check_box_tag(:automotive, "Automotive", @hs ? !@hs.automotive.nil? ? "checked:true" : false : false, id: "automotive")
          Automotive
      .col-sm-3.text-right
        = select_tag(:automotive_expertise, options_for_select([['Novice', 'Novice'], ['Apprentice', 'Apprentice'], ['Expert', 'Expert'] ]  ), id: "automotive-select")
    .col-sm-12.text-left.handyman-row
      .col-sm-3.col-sm-offset-3
        %label.checkbox-inline
          = check_box_tag(:hvac, "HVAC", @hs ? !@hs.hvac.nil? ? "checked:true" : false : false, id: "hvac")
          HVAC
      .col-sm-3.text-right
        = select_tag(:hvac_expertise, options_for_select([['Novice', 'Novice'], ['Apprentice', 'Apprentice'], ['Expert', 'Expert'] ]  ), id: "hvac-select")
    .col-md-8.col-md-offset-2.text-center.equipment
      %label.control-label#text-label.lab Describe any equipment you have.
      = text_area_tag :equipment, @hs ? @hs.equipment : "", class: "form-control equipment-text", rows: 4, id: "handy-text"
