.container
  .row
    .col-md-8.col-md-offset-2.text-center
      %h1.title Childcare Survey
      %hr
      %p#header-error.text-danger Please fix the required fields
      .col-md-12
        = render partial: "partials/childcare_surveys/hidden_vals"
        = form_tag(childcare_survey_path, method: :post, id: "ccs_form") do
          = text_field_tag(:num_certs, "1", hidden: true)
          = render partial: "partials/childcare_surveys/radio_buttons"
          %h4 Other Information
          %hr
            = render partial: "partials/childcare_surveys/other_info"
            .col-md-6.col-md-offset-3.bot-margin
              = submit_tag "Finish", class: "btn btn-primary btn-block"
              = link_to "Go Back", user_path(current_user), class: "btn btn-danger btn-block"
