.col-md-12.text-center
  %h1
    = "#{current_user.my_name}'s Skill:"
    %small Tutoring
  %hr
.col-md-6.text-center.col-md-offset-3
  - if @ts
    %table.table.table-striped
      %thead
        %tr
          %h3 Survey Details
      %tbody
        %tr
          %td
            %strong Years of Experience
          %td= @ts.experience
        %tr
          %td
            %strong Highest Grade Level to Tutor
          %td= @ts.education
        - if !@ts.science.blank?
          %tr
            %td
              %strong Science Subjects
            %td= format_science_subjects(@ts.science)
        - if !@ts.math.blank?
          %tr
            %td
              %strong Math Subjects
            %td= format_math_subjects(@ts.math)
        - if !@ts.languages.blank?
          %tr
            %td
              %strong Languages
            %td= format_languages(@ts.languages)
        - if !@ts.music.blank?
          %tr
            %td
              %strong Musical Instruments
            %td= format_instruments(@ts.music)
        - if !@ts.history.eql?("n")
          %tr
            %td
              %strong History
            %td Yes
        - if !@ts.english.eql?("n")
          %tr
            %td
              %strong English
            %td Yes

  - else
    %p.bg-danger#not-taken
      You have not taken our tutoring survey.
    %a.btn.btn-primary{href: "#{new_tutoring_survey_path}"} Take the survey now!
