.col-md-8.col-md-offset-2.text-center
  %h1#edit-title
    Edit
    = link_to "#{@job.title}", jobs_path(@job.id)
  %hr
.col-md-4.col-md-offset-4.text-center
  = form_for(@job, method: :put, html: { class: "form-horizontal", id: "post-job" } ) do |f|
    .form-group
      %label.text-danger#header-error Labels in red are required
    .form-group
      = f.label :title, class: "control-label col-sm-2 inner-label", id: "title-label"
      .col-sm-10
        = f.text_field :title, class: "form-control"
    = f.text_field :tags, hidden: true
    .form-group
      .col-sm-12
        .col-sm-12#tags-header
          %h2 Add Tags
          Select at least one
        .col-sm-12#tags-body
          .col-sm-12.tags-error.text-danger
            Select at least one tag
          .col-sm-6.text-left
            .checkbox
              %label
                %input{ type: "checkbox", value: "Pet Care", checked: @tag_arr.include?("Pet Care") ? true : false } Pet Care
            .checkbox
              %label
                %input{ type: "checkbox", value: "Tutoring", checked: @tag_arr.include?("Tutoring") ? true : false  } Tutoring
            .checkbox
              %label
                %input{ type: "checkbox", value: "Shopping", checked: @tag_arr.include?("Shopping") ? true : false  } Shopping
            .checkbox
              %label
                %input{ type: "checkbox", value: "Construction", checked: @tag_arr.include?("Construction") ? true : false  } Construction
          .col-sm-6.text-left
            .checkbox
              %label
                %input{ type: "checkbox", value: "Babysitting", checked: @tag_arr.include?("Babysitting") ? true : false  } Babysitting
            .checkbox
              %label
                %input{ type: "checkbox", value: "Gardening", checked: @tag_arr.include?("Gardening") ? true : false  } Gardening
            .checkbox
              %label
                %input{ type: "checkbox", value: "Housework", checked: @tag_arr.include?("Housework") ? true : false  } Housework
    .form-group
      .col-sm-2
        %label.control-label#location-label.inner-label Location
      .col-sm-12.radios
        %label.radio-inline
          = f.radio_button(:where, "My House")
          My House
        %label.radio-inline
          = f.radio_button(:where, "Remote")
          Remote
        %label.radio-inline
          = f.radio_button(:where, "Errand/Other")
          Errand/Other
    .form-group
      .col-sm-2
        %label.control-label#frequency-label.inner-label Frequency
      .col-sm-12.radios
        %label.radio-inline
          = f.radio_button(:frequency, "One Time")
          One Time
        %label.radio-inline
          = f.radio_button(:frequency, "Weekly")
          Weekly
        %label.radio-inline
          = f.radio_button(:frequency, "As Needed")
          As Needed
    .form-group#deadline
      = f.label :deadline, class: "control-label col-sm-2", id: "deadline-label"
      .col-sm-12
        = f.text_field :deadline, class: "form-control", id: "datepicker", disabled: true, placeholder: "Click to pick a date", readonly: true, value: @job.deadline.strftime("%-m/%d/%Y")
    .form-group
      .col-sm-2
        %label.control-label#description-label.inner-label Description
        %p.control-label#char-count 0/500
      .col-sm-12
        = f.text_area(:description, class: "form-control", id: "job-description", rows: 5, placeholder: "Please be as descriptive as possible so the doer knows what to expect.", maxlength: 500)
    = f.submit "Update", class: "btn btn-primary btn-lg btn-block"
