.modal.fade#hardOffer{ role: "dialog", aria: { labelledby: "hardOfferLabel", hidden: true } }
  .modal-dialog
    .modal-content
      .modal-header.text-center
        %button.close{ data: { dismiss: :modal } }
          %span{ aria: { hidden: true } } &times;
          %span.sr-only Close
        %h2 Make an Offer
        %h4= job_title
      .modal-body
        = form_tag(hard_offers_path, method: :post, class: "hard-offer-form", id: "hard_offer_form", remote: true) do
          .col-sm-8.col-sm-offset-2.field
            = text_field_tag(:id, current_user.id, hidden: true)
            = text_field_tag(:avatar, current_user.avatar, hidden: true)
            = text_field_tag(:job_id, job_id, hidden: true)
            = text_field_tag(:offer_id, offer_id, hidden: true)
            .form-group
              .col-sm-4.text-center
                = label_tag(:price, "Price", class: "form-label")
              .col-sm-8
                .input-group
                  %span.input-group-addon $
                  = text_field_tag(:price, "", class: "form-control", required: true)
          .col-sm-8.col-sm-offset-2.field
            .form-group
              .col-sm-4.text-center
                = label_tag(:date, "Date", class: "form-label")
              .col-sm-8
                = text_field_tag(:date, "", class: "form-control", readonly: true, id: "datepicker", required: true)
          .col-sm-8.col-sm-offset-2.field.text-center
            %button.btn.btn-warning{ data: { dismiss: :modal } } Cancel
            = submit_tag "Make Offer", class: "btn btn-primary"
      .modal-footer
