%td.right-td
  .media-body
    %h4.media-heading= c.username
    %p.text-muted.comment-body.comment-date= format_date(c.created_at)
    %p.comment-body= c.body
%td.comment-pic
  %a.media-right.media-middle{ href: "#" }
    - if current_user.avatar.blank?
      = image_tag("no-avatar.png", class: "comment-pic img-circle")
    - else
      = image_tag(current_user.avatar, class: "comment-pic img-circle")
