%table.table.table-striped
  %thead
    %tr
      %th Skill
      %th Survey Status
  %tbody
    %tr
      %td Childcare
      %td
        - if current_user.childcare_survey.nil?
          %a.btn.btn-primary{href: "#{new_childcare_survey_path}"}
            Take Survey
            %span.glyphicon.glyphicon-pencil
        - else
          %a.btn.btn-info{href: "#{new_childcare_survey_path}"}
            Edit Survey
            %span.glyphicon.glyphicon-pencil
          %a.btn.btn-primary.button-right{href: "#{childcare_survey_path}"}
            See Survey
    %tr
      %td Petcare
      %td
        - if current_user.petcare_survey.nil?
          %a.btn.btn-primary{href: "#{new_petcare_survey_path}"}
            Take Survey
            %span.glyphicon.glyphicon-pencil
        - else
          %a.btn.btn-info{href: "#{new_petcare_survey_path}"}
            Edit Survey
            %span.glyphicon.glyphicon-pencil
          %a.btn.btn-primary.button-right{href: "#{petcare_survey_path}"}
            See Survey
    %tr
      %td Tutoring
      %td
        - if current_user.tutoring_survey.nil?
          %a.btn.btn-primary{href: "#{new_tutoring_survey_path}"}
            Take Survey
            %span.glyphicon.glyphicon-pencil
        - else
          %a.btn.btn-info{href: "#{new_tutoring_survey_path}"}
            Edit Survey
            %span.glyphicon.glyphicon-pencil
          %a.btn.btn-primary.button-right{href: "#{tutoring_survey_path}"}
            See Survey
