<div class="col-md-12" id="replace-radar-chart">
  <div class="col-md-10 col-md-offset-1">
    <h3>Accepted Jobs</h3>
    <% if !@data.empty? %>
      <div class="col-md-6">
        <div class="canvas-holder text-left">
          <canvas id="accepted_jobs_radar" data-type="radar">
        </div>
      </div>
      <div class="col-md-6 text-left">
        <p><%= @content %> </p>
        <hr>
        <ul class="nav nav-pills">
          <li role="presentation" class=<%= params[:time].eql?('10days') ? "active" : '' %> >
            <a class="stats" id="acceptj10">10 Days</a>
          </li>
          <li role="presentation" class=<%= params[:time].eql?('30days') ? "active" : '' %> >
            <a class="stats" id="acceptj30">30 Days</a>
          </li>
          <li role="presentation" class=<%= params[:time].eql?('all') ? "active" : '' %> >
            <a class="stats" id="acceptja">All Time</a>
          </li>
        </ul>
      </div>
    <% else %>
      <div class="alert-info">
        You have not accepted any jobs.
      </div>
    <% end %>
  </div>
</div>
<script>
var ctx = document.getElementById("accepted_jobs_radar").getContext("2d");

var data =
{
  labels: ["Pet Care", "Tutoring", "Shopping", "Handyman", "Babysitting", "Lawn Care", "Errands", "Odd Jobs"],
  datasets: [
    {
      label:                "Accepted Jobs",
      fillColor:            "rgba(0, 205, 37, 0.60)",
      strokeColor:          "rgba(0, 205, 37, 1)",
      pointColor:           "rgba(0, 205, 37, 1)",
      pointStrokeColor:     "#fff",
      pointHighlightFill:   "#fff",
      pointHighlightStroke: "rgba(0, 205, 37, 1)",
      data: <%= @data.inspect %>

    } ]
};

var acceptedJobsRadar = new Chart(ctx).Radar(data, {});
$('#acceptj10').on('click', function() {
  return $('#replace-radar-chart').load("/users/" + $('#uid').text() + "/calculate_accepted_jobs?time=10days");
});

$('#acceptj30').on('click', function() {
  return $('#replace-radar-chart').load("/users/" + $('#uid').text() + "/calculate_accepted_jobs?time=30days");
});

$('#acceptja').on('click', function() {
  return $('#replace-radar-chart').load("/users/" + $('#uid').text() + "/calculate_accepted_jobs?time=all");
});


</script>
