%div
  #offerid.hide= params[:offer_id]
  = form_for(@comment, url: comments_path, remote: true, method: :post, class: "post-comment") do |f|
    .col-md-12
      .form-group.comment-group
        = f.text_field :offer_id, hidden: true, value: params[:offer_id]
        = f.text_field :user_id, hidden: true, value: params[:user_id]
        = f.text_field :username, hidden: true, value: current_user.my_name
        = f.label :body, 'Enter your comment:'
        = f.text_area :body, rows: 3, class: "form-control comment-box", required: true, maxlength: 1000
    .col-md-12.text-right
      .col-md-8.text-left.nopad
        %p.help-block Cannot be blank or contain more than 1000 symbols.
      .col-md-4.nopad
        %button.btn.btn-info.comment-btn#offer-modal-button{ data: { toggle: :modal, target: "#hardOffer" }, disabled: job_accepted ? true : false } Make Offer
        = f.submit "Comment", class: "btn btn-primary comment-btn"

= render partial: "partials/comments/hard_offer_modal", locals: { job_title: job_title, job_id: job_id }
