.well
  = form_for(@comment, remote: true) do |f|
    .form-group
      = f.text_field :offer_id, hidden: true, value: params[:offer_id]
      = f.text_field :user_id, hidden: true, value: params[:user_id]
      = f.label :body, 'Enter your comment:'
      = f.text_area :body, rows: 3, class: "form-control", required: true, maxlength: 1000
      %small.label.label-warning Cannot be blank or contain more than 1000 symbols.

    = f.submit "Comment", class: "btn btn-primary"
