%li.active
  %a.side-nav{ href: "#dashboard", data: { toggle: :tab } }
    .nav-align
      = image_tag "gear.png", class: "nav-img-user"
    .nav-align
      Dashboard
%li
  %a.side-nav{ href: "#posting", data: { toggle: :tab }  }
    .nav-align
      = image_tag "news.png", class: "nav-img-user"
    .nav-align
      Post Job
%li
  %a.side-nav{ href: "#skills", data: { toggle: :tab } }
    .nav-align
      = image_tag "brightness.png", class: "nav-img-user"
    .nav-align
      Add Skills
%li
  %a.side-nav{ href: "#contacts", data: { toggle: :tab } }
    .nav-align
      = image_tag "contacts.png", class: "nav-img-user"
    .nav-align
      My Clients
%li
  %a.side-nav{ href: "#stats", data: { toggle: :tab } }
    .nav-align
      = image_tag "trends.png", class: "nav-img-user"
    .nav-align
      My Stats
%li
  %a.side-nav{ href: "#shop", data: { toggle: :tab } }
    .nav-align
      = image_tag "shop.png", class: "nav-img-user"
    .nav-align
      Store
