.col-md-3.well.side-bar
  %h3.text-center.nav-color Navigation
  %hr
  %ul.nav.nav-pills.nav-stacked.text-center{ role: "tablist" }
    %li
      %a.side-nav
        .nav-align
          = image_tag "gear.png", class: "nav-img-user"
        .nav-align
          Dashboard
    %li
      %a.side-nav
        .nav-align
          = image_tag "brightness.png", class: "nav-img-user"
        .nav-align
          Add Skills
    %li
      %a.side-nav
        .nav-align
          = image_tag "contacts.png", class: "nav-img-user"
        .nav-align
          My Clients
    %li
      %a.side-nav
        .nav-align
          = image_tag "trends.png", class: "nav-img-user"
        .nav-align
          My Stats
    %li
      %a.side-nav
        .nav-align
          = image_tag "shop.png", class: "nav-img-user"
        .nav-align
          Store
