%td.right-td
  .media-body
    %h4.media-heading= "Offer by #{h.username}"
    %p.text-muted.comment-body.comment-date= format_date(h.created_at)
    %p= "Price: #{number_to_currency(h.price)}"
    %p= "Date: #{h.date_of_job.strftime("%-m/%d/%Y")}"
%td.comment-pic
  %a.media-right.media-middle{ href: "#" }
    - if current_user.avatar.blank?
      = image_tag("no-avatar.png", class: "comment-pic img-circle")
    - else
      = image_tag(current_user.avatar, class: "comment-pic img-circle")
