.tab-pane.active#dashboard
  = render partial: "partials/user/tab_content/paid_tabs/dashboard"
.tab-pane#posting
  = render partial: "partials/user/tab_content/paid_tabs/posting"
.tab-pane#skills
  = render partial: "partials/user/tab_content/paid_tabs/skills"
.tab-pane#contacts
  = render partial: "partials/user/tab_content/paid_tabs/clients"
.tab-pane#stats
  = render partial: "partials/user/tab_content/paid_tabs/stats"
.tab-pane#shop
  = render partial: "partials/user/tab_content/paid_tabs/shop"
