%h1= "Post a Job Listing"
%hr
.col-md-8.col-md-offset-2.text-center
  = form_for(current_user.jobs.new, url: jobs_path, method: :post, html: { class: "form-horizontal" } ) do |f|
    .form-group
      = f.label :title, class: "control-label col-sm-2"
      .col-sm-10
        = f.text_field :title, class: "form-control"
    = f.text_field :frequency, hidden: true
    -# radio HERE
    .col-sm-2
      %label.control-label Frequency
    .col-sm-10
      %label.radio-inline
        = f.radio_button(:frequency, "One Time")
        One Time
      %label.radio-inline
        = f.radio_button(:frequency, "Weekly")
        Weekly
      %label.radio-inline
        = f.radio_button(:frequency, "As Needed")
        As Needed
