.container-fluid
  .row
    .col-md-4.col-md-offset-2
      .top-splash.text-center
        = image_tag("dojob2.png")
      %h1.catchphrase.text-center
        What's your time worth?
      %h3.working-on.text-center
        People are working on...
      %h5.working-on.text-center#dj-change
        tutoring
    .col-md-4.col-md-offset-1
      .login-container
        .well
          - if !user_signed_in?
            = form_for(@resource, as: @resource_name, url: session_path(@resource_name)) do |f|
              .form-group
                = f.label "Email Address", class: "control-label"
                = f.email_field :email, placeholder: "Enter email", class: "form-control"
              .form-group.no-margin
                = f.label "Password", class: "control-label"
                = f.password_field :password, autocomplete: "off", class: "form-control"
              .form-group
                = link_to "Forgot your password?", new_user_password_path
              .form-group
                - if @devise_mapping.rememberable?
                  .form-group
                    = f.check_box :remember_me
                    = f.label :remember_me
              = f.submit "Log In", class: "btn btn-primary btn-lg btn-block"
            %h3.signup-header Don't have an account?
            %p Get involved with DoJob and begin helping the community.
            = link_to("Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg btn-block")
          - else
            = link_to "Log Out", destroy_user_session_path, method: :delete, class: "btn btn-primary btn-lg btn-block"

  .row.pad.grey-bg
    .col-md-12.text-center.explain
      %h2.top-hide How It Works
    .col-md-3.col-md-offset-1.text-center
      = image_tag("clock.png")
      %h3 Time
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt finibus quam, vel finibus enim suscipit sed. Cras fermentum velit ac ornare interdum. Cras tristique tortor mi, ac venenatis massa tincidunt nec. Quisque dignissim mollis orci vel sollicitudin.
    .col-md-4.text-center
      = image_tag("money.png")
      %h3 Money
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt finibus quam, vel finibus enim suscipit sed. Cras fermentum velit ac ornare interdum. Cras tristique tortor mi, ac venenatis massa tincidunt nec. Quisque dignissim mollis orci vel sollicitudin.
    .col-md-3.text-center
      = image_tag("stack.png")
      %h3 Simplicity
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt finibus quam, vel finibus enim suscipit sed. Cras fermentum velit ac ornare interdum. Cras tristique tortor mi, ac venenatis massa tincidunt nec. Quisque dignissim mollis orci vel sollicitudin.
  .row.pad-half
    .col-md-12.text-center.explain
      %h2 Two Different Accounts
    .col-md-3.col-md-offset-3.text-center
      .col-md-12
        %h3 User Account
        = image_tag("clipboard.png")
        %hr
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt finibus quam, vel finibus enim suscipit sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt finibus quam, vel finibus enim suscipit sed.
    .col-md-3.text-center
      .col-md-12
        %h3 Doer Account
        = image_tag("tools.png")
        %hr
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt finibus quam, vel finibus enim suscipit sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt finibus quam, vel finibus enim suscipit sed.
  .row.pad.grey-bg
    .col-md-12.text-center.explain
      %h2.top-hide How to Get Started
    .col-md-3.col-md-offset-3
      = image_tag "circle_one.png"
    .col-md-3.text-center
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt finibus quam, vel finibus enim suscipit sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt finibus quam, vel finibus enim suscipit sed.
    .col-md-3
    .col-md-3.col-md-offset-3.after
      = image_tag "circle_two.png"
    .col-md-3.after.text-center
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt finibus quam, vel finibus enim suscipit sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt finibus quam, vel finibus enim suscipit sed.
    .col-md-3
    .col-md-3.col-md-offset-3.after
      = image_tag "circle_three.png"
    .col-md-3.after.text-center
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt finibus quam, vel finibus enim suscipit sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt finibus quam, vel finibus enim suscipit sed.
    .col-md-3
  .row.pad-q
    .col-md-4.col-md-offset-4.contact.text-center
      %h2 Questions or Concerns?
      %hr
      %button.btn.btn-primary.btn-lg.btn-block Contact Us
