<!DOCTYPE html>
<html>
<head>
  <title>Dojob</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'rails.validations' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if !params[:controller].eql?("welcome") %>
  <%= render partial: "partials/navbar/navbar" %>
<% elsif params[:controller].eql?("welcome") && user_signed_in? %>
  <%= render partial: "partials/navbar/navbar" %>
<% end %>

<%= yield %>

</body>
</html>
